.newMainForm {
  margin-top: 5%;
  position: absolute;
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: #ffa1a16c;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(71, 5, 5, 0.6);
  border-radius: 10px;
}

#newHeader-h1 {
  color: white;
  margin-top: 4%;
  padding: 40px 85px 40px 85px;
  display: inline-flex;
  margin-left: 41.5%;
  text-align: center;
  background: #bf2626;
}

.newMainForm input {
  width: 100%;
  padding: 10px 0;
  font-size: 19px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid red;
  outline: none;
  background: transparent;
}

.newBtn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  color: #ff0000;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 15px;
  letter-spacing: 2px;
}

.newBtn:hover {
  background: #ff04d9;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff0000, 0 0 25px #ff1e1e, 0 0 50px #ff11d7, 0 0 100px #ff2aed;
}

.newError-message {
  margin-top: 10px;
  color: #cb0707;
  font-size: 1.3em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
  font-size: 1.2em;
}