.mainForm {
  overflow: hidden;
  margin-top: 2%;
  margin-left: 40%;
  z-index: 1;
  max-width: 400px;
  padding: 40px;
  background-color: #ffa1a16c;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(71, 5, 5, 0.6);
  border-radius: 10px;
}

#header-h1 {
  color: white;
  margin-top: 4%;
  padding: 20px; /* Adjust padding for better responsiveness */
  text-align: center;
  background: #bf2626;
  margin-left: 40%; /* Adjust margin for better responsiveness */
  margin-right: 40%;
}

.mainForm input,
.mainForm label,
#profession,
#gender {
  width: 100%;
  padding: 10px 0;
  font-size: 16px; /* Adjust font size for better responsiveness */
  color: #fff;
  margin-bottom: 20px; /* Adjust margin for better responsiveness */
  border: none;
  border-bottom: 1px solid red;
  outline: none;
  background: transparent;
}

#profession,
#gender {
  font-size: 16px; /* Adjust font size for better responsiveness */
  border-radius: 50px;
  color: #ff0000;
}

#gender {
  margin-top: 15px; /* Adjust margin for better responsiveness */
  margin-left: 0; /* Adjust margin for better responsiveness */
}

#blah {
  margin-top: 15px; /* Adjust margin for better responsiveness */
}

.btn {
  margin-left: 30%;
  display: inline-block;
  padding: 10px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  color: #ff0000;
  font-size: 14px; /* Adjust font size for better responsiveness */
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 15px;
  letter-spacing: 1px; 
}

.btn:hover {
  background: #ff04d9;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff0000, 0 0 25px #ff1e1e, 0 0 50px #ff11d7, 0 0 100px #ff2aed;
}

input::placeholder {
  color: white;
}

.error-message {
  margin-top: 10px;
  color: #cb0707;
  font-size: 1em; /* Adjust font size for better responsiveness */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.aProp {
  font-size: 1em;
  margin-left: 15%;
  text-decoration: underline;
  color: #c90a0a;
}
.aProp:hover{
  cursor:pointer;
}
/* Responsive Styles */
@media only screen and (max-width: 768px) {
  #header-h1 {
      margin-left: 0;
  }
}
